@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* { 
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #7E7E7E;
  background-size: cover;
  background-position: center;

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  background-color: rgba(2, 2, 2, 0.519);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  color: white;
  padding: 1em 0;
  border-block-end: 2px solid white;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  position: relative;
}

.header-left a,
.header-right a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.header-center a {
  color: white;
  text-decoration: none;
  margin: 0 50px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Section: compétences */
#competences {
    text-align: center;
    padding: 50px 20px;
    background-color: rgba(2, 2, 2, 0.519);
    border-radius: 8px;
    width: 1400px;
    margin: 250px 40px 250px;
    margin-top: 40%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Titre */ 
h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: white;
    text-transform: uppercase;
}

/* Conteneur des compétences */
.competence-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    justify-items: center;
    padding: 20px;
}

.true {
    
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}



/* Style des cartes */
.competence {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    
    height: 220px;

}

/* Effet au survol */
.true:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.false:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Icônes */
.icon {
    font-size: 3em;
    margin-bottom: 10px;
    color: #0078d4;
}

/* Titres des compétences */
h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: grey;
}

/* Texte des compétences */
p {
    font-size: 1em;
    color: white;
}

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');

:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: 'Rubik', sans-serif;
  --font-serif: 'Cardo', serif;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #7E7E7E; 
  background-size: cover;
  background-position: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0; 
  background-color: rgba(2, 2, 2, 0.519);
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 1em 0;
  border-block-end: 2px solid white;
}

.header-left,
.header-center,
.header-right {
  display: flex;
  align-items: center;
}

.header-left {
  position: relative;
}

.header-left a,
.header-right a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
}

.header-center a {
  color: white;
  text-decoration: none;
  margin: 0 50px;
}

header nav a:hover {
  text-decoration: underline;
} 

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(2, 2, 2, 0.9);
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 1000;
}

.dropdown-menu li {
  width: 100%;
}

.dropdown-menu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  margin-top: 100px; /* Add margin to avoid overlapping with fixed header */
}

.card {  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  width: 300px;
  height: 450px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.copy {
  font-size: 1rem;
  text-align: center;
}

.btn {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.background-card1 {
  background-image: url('https://logos-world.net/wp-content/uploads/2021/04/Okta-Logo.png');
  background-repeat: no-repeat;
  background-size: cover;
  
  background-color: #fff; /* Couleur de fond au cas où l'image ne se charge pas */
}

.background-card2 {
  background-image: url('SAM-logo.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff; /* Couleur de fond au cas où l'image ne se charge pas */
}

.background-card3 {
    background-image: url('https://play-lh.googleusercontent.com/PWjvIciHKI_MfsTLmDSnvN0MEf4fGXdU6_S7i2fE_Kmc1Jo01BXEXN1nuJA11cG-Xnk');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff; /* Couleur de fond au cas où l'image ne se charge pas */
  }
  
  .background-card4 {
    background-image: url('https://esolutions-sa.com/assets/images/logo/sap.jpg');
    background-repeat: no-repeat;
    
    background-position: center;
    background-color: #fff; /* Couleur de fond au cas où l'image ne se charge pas */
  }

#retour-btn-container {
  position: fixed;
  left: 20px;
  bottom: 42px;
  z-index: 1000;
}

#retour-btn {
  background-color: rgba(2, 2, 2, 0.519);
  color: white;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 0.25rem;
  text-decoration: none;
  font-weight: bold;
}

#retour-btn:hover {
  background-color: rgba(80, 80, 80, 0.938);
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 42px;
    right: 0.2%;
    z-index: 99;
    outline: none;
    background-color: rgba(2, 2, 2, 0.519);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-weight: bold;
}

#myBtn:hover {
    background-color: rgba(80, 80, 80, 0.938);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center; 
}

.overlay .title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: black;
}

.overlay .copy {
  font-size: 1em;
  color: black;
}

.card:hover .overlay {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .header-left,
  .header-center,
  .header-right {
    flex-direction: column;
    align-items: flex-start;
  }

  .header-left a,
  .header-right a {
    margin: 10px 0;
  }

  .header-center a {
    margin: 10px 0;
  }

  .page-content {
    flex-direction: column;
  }

  .card {
    width: 90%;
    height: auto;
  }
}
