body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7E7E7E;
}

header { 
    width: 100%; 
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(2, 2, 2, 0.519);
    color: white;
    padding: 1em 0;
    border-block-end: 2px solid white;
}

.header-left,
.header-center,
.header-right {
    display: flex;
    align-items: center;
}

.header-left {
    position: relative;
}

.header-left a,
.header-right a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

.header-center a {
    color: white;
    text-decoration: none;
    margin: 0 50px;
}

header nav a:hover {
    text-decoration: underline;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(2, 2, 2, 0.9);
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid white;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.content-container {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 20px;
    margin-right: -20%;
}

#preuves {
    flex-basis: 50%;
    color: white;
    padding: 15px;
    background-color: rgba(2, 2, 2, 0.519);
    margin-right: 20px;
    box-sizing: border-box;
    margin-left: 1%;
    margin-top: 2.5%;
}

.sidebar {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: -7.5%;
    margin-top: 3%;
}

#outils, #Language {
    padding: 15px;
    color: white;
    background-color: transparent;
    text-align: center;
    margin: 10px 0;
}

#outils ul, #Language ul {
    list-style-type: none;
    padding: 0;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 42px;
    right: 30px;
    z-index: 99;
    outline: none;
    background-color: rgba(2, 2, 2, 0.519);
    border: 2px solid white;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 0.25rem;
    font-weight: bold;
}

#myBtn:hover {
    background-color: rgba(80, 80, 80, 0.938);
}

#retour-btn-container {
    position: fixed;
    left: 20px;
    bottom: 42px;
    z-index: 1000;
}

#retour-btn {
    background-color: rgba(2, 2, 2, 0.519);
    color: white;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 0.25rem;
    text-decoration: none;
    font-weight: bold;
}

#retour-btn:hover {
    background-color: rgba(80, 80, 80, 0.938);
}

@media screen and (max-width: 600px) {
    .content-container {
        flex-direction: column;
    }

    #preuves, .sidebar {
        flex-basis: 100%;
        margin-left: 0;
    }

    header nav a {
        margin: 0 15px; 
    }
} 

.project-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.project-item {
    width: 45%;
    margin: 1.5%;
    position: relative;
    height: 300px; /* Définissez une hauteur fixe pour que toutes les images aient la même taille */
    overflow: hidden;
}
.project-item2 {
    width: 60%;
    margin: 1.5%;
    margin-left: -0.5%;
    position: relative;
    height: 600px; /* Définissez une hauteur fixe pour que toutes les images aient la même taille */
    
    object-fit: cover; /* Cela garantit que les images conservent leurs proportions tout en remplissant le conteneur */
    overflow: hidden;
}

.project-item a img {
    width: 100%;
    height: 100%; /* Assurez-vous que les images remplissent complètement le conteneur */
    object-fit: cover; /* Cela garantit que les images conservent leurs proportions tout en remplissant le conteneur */
    transition: transform 0.3s ease;
}

.project-item:hover img {
    transform: scale(1.1);
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(2, 2, 2, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1);
}

.project-item:hover img, .project-item:hover .image-overlay {
    transform: scale(1.1);
    opacity: 1;
}

