* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    position: relative;
    height: 100vh;  
    width: 100%;
    font-family: "Poppins";
   
    background-image: url(fond-play.webp);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: -1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1650px;
    margin: 0 auto;
    padding: 2.5em 1em;
}

header .left,
header .right {
    display: flex;
    align-items: center;
}

header a {
    color:#adadad;
    font-size: 2em;
    display: flex;
}

header .left a,
header .right a {
    margin-right: 80px;
}

#clock {
    position: relative;
    color: white;
    font-size: 2em;
    margin-right: 20px;
    font-weight: 100em;
}

#carousel {
    position: relative;
    height: 85%;
}

#carousel > div {
    position: absolute;
    transition: transform 0.4s, left 0.4s, opacity 0.4s, z-index 0s;
    opacity: 1;
}

#carousel section img {
    width: 175px;
    border-radius: 30px;
    transition: width 0.4s;
    cursor: pointer;
}

#carousel .hideLeft {
    left: -190px;
    opacity: 0;
}

#carousel .hideLeft img {
    width: 110px;
}

#carousel .hideRight {
    left: 685px;
    opacity: 0;
}

#carousel .hideRight img {
    width: 110px;
}

#carousel .prev {
    z-index: 5;
    left: 80px;
}

#carousel .prev img {
    width: 110px;
}

#carousel .prevLeftSecond {
    z-index: 4;
    left: -55px;
}

#carousel .prevLeftSecond img {
    width: 110px;
}

#carousel .selected {
    z-index: 1;
    left: 215px;
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#carousel .selected section img {
    border: 3px solid transparent;
    box-shadow: 0px 0px 0px 3px rgb(216, 216, 216);
}

#carousel .next {
    z-index: 5;
    left: 415px;
}

#carousel .next img {
    width: 110px;
}

#carousel .nextRightSecond {
    z-index: 4;
    left: 550px;
}

#carousel .nextRightSecond img {
    width: 110px;
}

#carousel .selected section span {
    color:rgb(233, 233, 233);
    font-size: 1.5em;
    font-weight: 100;
    margin-left: 5px;
    position: relative;
    bottom: 30px;
}

#carousel :not(.selected) section span,
#carousel :not(.selected) .game-info {
    display:none;
}

#carousel .selected .game-info {
    display: flex;
    justify-content: space-between;
}

#carousel .selected .game-info .left h1 {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: 40px 0 40px 0;
}

#carousel .selected .game-info .left .button-left {
    display: flex;
}

#carousel .selected .game-info .left .button-left a {
    background-color: rgba(255, 255, 255, 0.088);
    color: white;
    font-size: 2em;
    margin-right: 10px;
    border-radius: 50px;
}

#carousel .selected .game-info .left .button-left a:nth-child(1) {
    padding: 10px 120px;
}

#carousel .selected .game-info .left .button-left a:nth-child(2) {
    height: 65px;
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel .selected .game-info .right .cover {
    height: 300px;
    width: 300px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    z-index: 0;
}

#carousel .selected .game-info .right .cover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(to bottom, transparent 45%, #000 85%);
}

#carousel .selected .game-info .right .cover span {
    z-index: 1;
}

#carousel .selected .game-info .right .cover span.complet {
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 2px 8px;
    margin-left: 17px; 
}

#carousel .selected .game-info .right .cover span.update {
    background-color: white;
    color: #000;
    width: fit-content;
    font-weight: 700;
    margin: 17px 0 17px 17px;
    padding: 3px;
    font-size: 0.9em;
}

#carousel .selected#passions .game-info .right .cover {
    background-image: url(cover-passion.png);
    background-size: contain;
}

#carousel .selected#competences .game-info .right .cover {
    background-image: url(csr-cover.png);
    background-size: contain;
}

#carousel .selected#qui-suis-je .game-info .right .cover {
    background-image: url(profile-cover.png);
    background-size: contain;
}

#carousel .selected#experiences .game-info .right .cover {
    background-image: url(career-cover.png);
    background-size: contain;
}

#carousel .selected#parcours .game-info .right .cover {
    background-image: url(mobility-cover.png);
    background-size: contain;
}

#carousel .cover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(1);
    z-index: 1;
}

#carousel .cover:hover .overlay {
    opacity: 1;
    
}

.oxya_logo {
    cursor: pointer; 
    animation: pulse 2s infinite;
    padding: 5px; 
    border-radius: 100%;
    border: 2px solid white;
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); opacity: 1; }
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100px; /* Ajuster la largeur selon besoin */
    box-shadow: 0px 8px 16px 0px transparent;
    padding: 12px 16px;
    z-index: 5;
}

.dropdown-content a {
    color: transparent;
    padding: 8px 10px; /* Ajuster le padding pour réduire la taille */
    text-decoration: none;
    display: block;
    text-align: center; /* Centrer le texte */
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles du corps pour les petits écrans */
    body {
        background-size: cover;
    }

    /* Ajustement du header pour un affichage vertical */
    header {
        flex-direction: column;
        height: auto;
        width: auto;
        padding: 1em;
    }
    header .left a,
    header .right a {
        margin-right: 45px;
    }

    /* Réduction de la taille des images du carrousel */
    #carousel section img {
        width: 120px;
    }

    
    /* Position et visibilité ajustées pour les éléments du carrousel */
    #carousel .hideLeft {
        left: -60%;
        opacity: 0;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #carousel .hideRight {
        left: 140%;
        opacity: 0;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #carousel .prev {
        z-index: 5;
        left: 3%;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #carousel .next {
        z-index: 5;
        left: 70%;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #carousel .nextRightSecond {
        z-index: 4;
        opacity: 0;
        left: 120%;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #carousel .prevLeftSecond {
        z-index: 4;
        opacity: 0;
        left: -40%;
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* Ajustement de l'élément sélectionné du carrousel */
    #carousel .selected {
        z-index: 1;
        height: 90%;
        left: 35%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #carousel .selected section span {
        color:rgb(233, 233, 233);
        font-size: 1.5em;
        font-weight: 100;
        margin-left: 0;
        position: relative;
        bottom: -5px;
    }
    #carousel .selected .game-info{
        position: relative;
        left: -132px;
    }

    /* Cacher la partie droite de game-info sur les petits écrans */
    #carousel .selected .game-info .right {
        display: none;
    }

    #carousel .selected {
        z-index: 0; /* Augmentez le z-index pour le carrousel sélectionné */
    }

    #carousel .selected .game-info .left .button-left a {
        z-index: 3500; /* Assurez-vous que cette valeur est plus élevée que celle du carrousel sélectionné */
    }

    /* Réduire le z-index des autres éléments du carrousel pour éviter la superposition */
    #carousel .hideLeft,
    #carousel .hideRight,
    #carousel .prev,
    #carousel .next,
    #carousel .nextRightSecond,
    #carousel .prevLeftSecond {
        z-index: 0;
    }
}


@keyframes backgroundAnimation {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }
  
  #particle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    background: url('your-background-image.jpg') no-repeat center center;
    background-size: cover; /* Conserve l'image actuelle en arrière-plan */
}

.particle {
    position: absolute;
    white-space: nowrap;
    font-weight: bold;
    user-select: none;
    pointer-events: none;
    animation: particle-animation var(--duration) linear infinite,
               fade-out var(--duration) linear forwards;
}

/* Animation de déplacement étendue avec mouvement horizontal */
@keyframes particle-animation {
    0% {
        transform: translate(-50%, -50%) translateX(0) scale(1) rotate(0deg);
    }
    25% {
        transform: translate(calc(-50% + var(--endX) / 4), calc(-50% + var(--endY) / 4)) translateX(-10px) scale(0.9) rotate(90deg);
    }
    50% {
        transform: translate(calc(-50% + var(--endX) / 2), calc(-50% + var(--endY) / 2)) translateX(10px) scale(0.8) rotate(180deg);
    }
    75% {
        transform: translate(calc(-50% + var(--endX) * 3 / 4), calc(-50% + var(--endY) * 3 / 4)) translateX(-15px) scale(0.7) rotate(270deg);
    }
    100% {
        transform: translate(calc(-50% + var(--endX)), calc(-50% + var(--endY))) translateX(0) scale(0.5) rotate(360deg);
    }
}

/* Animation de disparition progressive */
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

  
  #loading-animation {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: -1; /* Pour s'assurer que l'animation est au-dessus de tout le contenu */
  }




